.App {
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
}

.video-js {
	margin: 3rem 0;
}

.video-js .vjs-control-bar {
	background-color: rgb(255, 102, 0);
}
.video-js button {
	color: rgb(98, 0, 255);
	opacity: 3;
}

.video-js .vjs-big-play-button {
	top: 40%;
	left: 40%;
	background-color: rgb(255, 102, 0);
	border: none;
}
