.App {
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
}

/* .video-js {
	margin: 3rem 0;
}

.video-js .vjs-control-bar {
	background-color: rgb(255, 102, 0);
}
.video-js button {
	color: rgb(98, 0, 255);
	opacity: 3;
}

.video-js .vjs-big-play-button {
	top: 45%;
	left: 45%;
	background-color: rgb(255, 102, 0);
	border: none;
}

.vjs-control-bar .vjs-picture-in-picture-control .vjs-icon-placeholder::before {
	content: "\f24d";
	font-size: 1.8em;
	line-height: 1.67;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
} */
