.container {
	margin: 5rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.ql-container {
	border-radius: 0 0 1rem 1rem;
	background: #fefcfc;
}
.ql-snow.ql-toolbar {
	display: block;
	background: #eaecec;
	border-radius: 1rem 1rem 0 0;
}

.ql-editor {
	min-height: 20em;
	min-width: 20em;
}
