*,
*:before,
*:after {
	box-sizing: border-box;
}

html,
body,
#root {
	min-height: 100vh;
}

body {
	margin: 0;
	padding: 0;

	font-family: Helvetica, Arial, Microsoft JhengHei, sans-serif;
}

img {
	vertical-align: middle;
}

body {
	color: #333;
}

.dynamic .playlist a.active {
	color: red;
}

@media print {
	html,
	body {
		display: none; /* hide whole page */
	}
}
